@import "home";
@import "show";

.hello-title {
  color: #4BBF6C;
  font-weight: bold;
  padding-top: 3vh;
  margin-bottom: 0.7vh;
}
.infos-div {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #4bbf6c2a;
  border-radius: 12px;
  margin: 2.5vh 0;
  padding: 0 18px;
  .uber {
    height: 100%;
  }
  .add-recipe-btn {
    text-decoration: underline;
    color: #4BBF6C;
  }
}
.title-recipes {
  margin-bottom: 1.3vh !important;
}
.recipes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  width: 100%;
  height: 60vh;
  overflow-y: scroll;
  padding: 6px;
  padding-bottom: 1.5vh;
  .recipe {
    display: flex;
    flex-direction: column;
    height: 230px;
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.074);
    .recipe-img {
      height: 55%;
      width: 100%;
      border-radius: 12px;
      object-fit: cover;
    }
    .recipe-name {
      margin: 8px 12px;
      font-weight: bold;
    }
    .recipe-infos {
      display: flex;
      justify-content: space-between;
      margin: 0 12px;
      .recipe-people {
        color: rgb(117, 117, 117);
        font-size: 1rem;
        font-weight: bold;
      }
      .recipe-ingredients {
        font-size: 1rem;
        color: rgb(149, 149, 149);
      }
    }
  }
}
