@import "home";
@import "show";

.recipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 24px;
  .recipe {
    background-image: url("crepe.jpg");
    background-size: cover;
    display: flex;
    width: 84vw;
    height: 400px;
    position: relative;
    color: white;
    border-radius: 24px;
    .recipe-name {
      font-size: 2rem;
      position: absolute;
      bottom: 64px;
      left: 24px;
      font-weight: bold;
    }
    .recipe-people {
      font-size: 1rem;
      position: absolute;
      bottom: 24px;
      left: 24px;
      color: rgb(189, 189, 189);
    }
  }
}
