.ingredients {
  height: 60vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  .ingredient {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    border-radius: 12px;
    background-color: #F7F8FC;
    .quantity {
      display: flex;
      color: #ADAFB0;
      gap: 8px;
    }
    &.add-ingredient {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
