<div class="new_ratio">
  <h3>Calculate proportions</h3>
  <%= simple_form_for locales do |f| %>
    <%= f.input :number_of_people, label: "for how many ?", placeholder: "Exemple: 3" %>
    <%= f.button :submit, value: "Calculate" %>
  <% end %>
</div>
