<div class="new_ratio">
  <h3>Calculer les proportions</h3>
  <%= simple_form_for locales do |f| %>
    <%= f.input :number_of_people, label: "Pour combien de personne ?", placeholder: "Exemple: 3" %>
    <%= f.button :submit, value: "Calculer" %>
  <% end %>
</div>
