<div class="new_ratio">
  <h3 class="form-title">Calculer les proportions</h3>
  <%= simple_form_for locales do |f| %>
    <h1 class="label">Pour combien de personnes ?</h1>
    <%= f.input :number_of_people, label: false, placeholder: "Exemple: 3" %>
    <%= f.button :submit, value: "Calculer" %>
  <% end %>
</div>
