<div id="container-home">
  <div class="home-image">
  </div>
  <div class="transparent">
  </div>
  <div class="linear">
    <h1 class="linear-title">Cooking a <br> Delicious food and <br> Calcul ratios</h1>
  </div>
  <div class="cache">
    <% if user_signed_in? %>
      <%= link_to "Recipes", recipes_path, class:"green-btn" %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"black-btn" %>
    <% else %>
      <%= link_to "Log in", new_user_session_path, class:"green-btn" %>
      <%= link_to "Sign up", new_user_registration_path, class:"black-btn" %>
    <% end %>
  </div>
</div>
