<div id="container-home">
  <div class="home-image">
  </div>
  <div class="transparent">
  </div>
  <div class="linear">
    <h1 class="linear-title">Cuisine quelques <br> Délicieuses recettes et Calcule les ratios</h1>
  </div>
  <div class="cache">
    <% if user_signed_in? %>
      <%= link_to "Mes recettes", recipes_path, class:"green-btn" %>
      <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class:"black-btn" %>
    <% else %>
      <%= link_to "Connexion", new_user_session_path, class:"green-btn" %>
      <%= link_to "Créer mon compte", new_user_registration_path, class:"black-btn" %>
    <% end %>
  </div>
</div>
