a {
  text-decoration: none;
}
.btn-center {
  display: flex;
  justify-content: center;
}
.new-ratio-btn {
  padding: 18px;
  width: 65vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 8.4vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 22px;
  color: white;
  background-color: black;
  &:hover {
    color: white;
  }
}
.add-ingredient-btn {
  padding: 10px 16px;
  background-color: #4BBF6C;
  color: white;
  border-radius: 12px;
}
.green-btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  width: 80vw;
  background: linear-gradient(to right, #2c8445, #5fd781);
  color: white;
  border-radius: 18px;
  &:hover {
    color: white;
  }
}
.black-btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  width: 80vw;
  border: 1px solid #4BBF6C;
  color: white;
  border-radius: 18px;
  &:hover {
    color: white;
  }
}
.submit-center {
  display: flex;
  justify-content: center;
  .submit-btn {
    padding: 8px 16px;
    background-color: black !important;
    color: white;
    border-radius: 12px !important;
  }
}
.btn {
  padding: 0;
}
