.container {
  width: 100vw;
  min-height: 100vh;
  padding: 0 5vw;
  &.pop-up {
    filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

.title-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0 20px;
}
