.new-ratio-form {
  border-radius: 12px;
  height: 40vh;
  width: 80vw;
  background-color: white;
  position: absolute;
  top: 30vh;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 1;
  z-index: 1;
  transition: all 0.3s ease-out;
  &.hidden {
    opacity: 0;
    z-index: -1;
  }
}
.new-ingredient-form {
  border-radius: 12px;
  height: 40vh;
  width: 80vw;
  background-color: white;
  position: absolute;
  top: 30vh;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 1;
  z-index: 1;
  transition: opacity 0.3s ease-out;
  &.hidden {
    opacity: 0;
    z-index: -1;

  }
}
