// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
body {
  background-color: white;
  position: relative;
}
abbr {
  display: none;
}
.bold {
  font-weight: bold;
}
.title {
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem;
  color: #0f1144;
  margin: 24px 0;
}
h1,h2,h3,h4,h5,h6, p {
  margin: 0;
}
.blue {
  color: #0f1144;
}
